body {
  background: #101412;
  color: white;
  margin: 0;
  padding: 0;
}

.parallax {
  background-image: url("image\ \(2\).png");
  min-height: 300px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -100px;
  position: relative;
  overflow: hidden;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust height as needed */
  background: linear-gradient(to bottom, rgba(16, 20, 18, 0) 0%, rgb(16, 20, 18) 100%);
}

.content {
  position: relative;
  z-index: 1; /* Ensure content is above the gradient */
  padding: 0px; /* Adjust padding as needed */
}

p {
  font-family: 'Poppins';
  color: white;
  transition: all 2s;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.title {
  color: rgb(226, 226, 226);
  font-size: 76px;
  transition: all 1s;
}

.volumetxt {
  margin-bottom: 5px;
  margin-top: 5px;
  transition: all 1s;
}

.volumecontainer {
  padding: 10px 30px 10px 30px;
  background-color: #161616;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  transition: all 2s;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.volumeslider {
  appearance: none;
  width: 100%;
  height: 20px;
  background: #2e2e2e;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 7px;
  margin: 0;
}

.volumeslider:hover {
  opacity: 1;
}

.volumeslider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 20px;
  background: #B3C2BA;
  cursor: pointer;
  border-radius: 200px;
}

.volumeslider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 200px;
}

.nav {
  overflow: hidden;
  position: relative;
}

.nav #myLinks {
  display: none;
  transition: all 0.2s;
}

.nav a {
  color: white;
  font-family: 'Poppins';
  text-decoration: none;
  font-size: 17px;
}

.nav a.icon {
  display: block;
  position: absolute;
  padding: 0;
  width: 57px;
  height: 57px;
  right: 0;
  top: 0;
}

.active {
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
  background-color: #181c20;
  padding: 15px 15px 15px 15px;
}

.container1 {
  background-color: #13161b;
  height: 57px;
  display: flex;
  align-items: center;
}

.links {
  transition: all 0.2s;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links:hover {
  background-color: #B3C2BA;
  color: #000000;
  font-weight: bolder;
}

/* Styling for the popup container */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(20px); /* Blur effect for the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}
/* Purchase page container styles and for other container styles */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-box {
  width: 300px;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #fff;
  background: rgba(5, 5, 5, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0 auto; 
  margin-top: 10px;
}


.p2 {
  font-family: 'Poppins';
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

.buy-button {
  background-color: #3a87fe;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
-webkit-box-shadow:0px 0px 157px 34px rgba(58,136,254,0.65);
-moz-box-shadow: 0px 0px 157px 34px rgba(58,136,254,0.65);
box-shadow: 0px 0px 157px 34px rgba(58,136,254,0.65);
}


/* End of purchase page container styles */

/* contact information container/styles */

.contact-container {
  width: 330px;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  background: rgba(5, 5, 5, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 10px;

}

.contact-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Poppins';
  text-shadow: rgba(58,136,254,0.71) 0px 0px 23px;
}

.contact-container p {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-button {
  background-color: #3a87fe;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* end of contact styles */

/* signer styles */
form {
  font-family: 'Poppins', sans-serif;
  background-color: #2222;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  width: 320px;
  margin: 0 auto;
  background: rgba(5, 5, 5, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

form label {
  display: block;
  margin-top: 10px;
  color: #ebebeb;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #74a7ff;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #333; 
  color: #c2c2c2;
  background: rgba(5, 5, 5, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

form input[type="submit"] {
  background-color: #3a87fe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background: rgba(5, 5, 5, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

input[type="file"] {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.custom-file-upload {
  background-color: #3a87fe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(5, 5, 5, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.custom-file-upload:hover {
  background-color: #1e5be6;
}



/* end of signer styles */

